.movieListContainer {
  display: flex;
  flex-direction: column;
}
.rightSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PagesNavigation {
  margin-top: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 3%;
}
.PagesNavigation button {
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  fill: white;
  background-color: #d32f2f;
  padding: 1%;
  font-weight: 900;
  width: 20px;
  height: 20px;
  transition: all 0.2s ease-in-out;
}
.PagesNavigation button:hover {
  color: #d32f2f;
  fill: #d32f2f;
  background-color: white;
}
.movileList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  width: 70vw;
  margin: auto;
}
.filterTitle {
  color: #d32f2f;
  border-bottom: #d32f2f 3px solid;
  margin-top: 10%;
  width: 40%;
}
.pagination {
  margin-top: 2%;
  background: none;
  width: 40%;
  outline: none;
  border: none;
  color: #fafafa;
  font-size: 1.2em;
}
.pagination:active {
  background-color: #12102b;
}

.filterSection {
  position: fixed;
  top: 30vh;
  margin-left: 2%;
  color: #fafafa;
  width: 500px;
}
.checkContainer {
  margin-top: 5%;
  height: 30px;
  display: flex;
  align-items: center;
  width: 60%;
}
.checkBoxSelect {
  width: 40px;
}
.checkBoxLabel {
  width: 100%;
  font-size: 1.1em;
}
.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;

  height: 100vh;
}
.noData h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(250, 250, 250, 0.5);
  border: rgb(250, 250, 250, 0.5) solid 2px;
  padding: 10%;
}
.reload {
  margin-top: 5%;
  fill: rgb(250, 250, 250, 0.5);
  cursor: pointer;
}
.reload svg {
  transition: all 0.2s ease-in-out;
}
.reload svg:hover {
  transform: scale(1.2);
  fill: white;
}
.reload svg:active {
  transform: scale(1.5);
  opacity: 0.3;
  fill: white;
}
.goTop,
.openMenu {
  display: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .filterSection {
    top: 0;
    width: 40%;
    transform: translateX(-150%);
    height: 100vh;
    z-index: 2;
    background-color: rgb(18, 16, 43, 0.9);
    transition: all 0.2s ease-in-out;
  }
  .menuOpened {
    transform: translateX(0%);
  }
  .checkContainer,
  .filterTitle,
  .pagination {
    width: 90%;
  }
  .checkBoxSelect {
    width: 60%;
  }
  .goTop {
    display: block;
    position: fixed;
    top: 95vh;
    left: 90vw;
    outline: none;
    background-color: #d32f2f;
    border: #d32f2f;
    width: 30px;
    height: 30px;
    fill: white;
  }
  .goTop svg {
    fill: #fff;
  }
  .goTop:hover {
    background-color: #fff;
  }
  .goTop:hover svg {
    fill: #d32f2f;
  }
  .openMenu {
    display: block;
    fill: #d32f2f;
    background: none;
    outline: none;
    border: none;
  }
  .openMenu:hover {
    fill: #fff;
  }
}
